body{
    background-color: rgb(34, 34, 34);
}

.name{
    font-size: 11vw;
    color: #32CD32;
    text-shadow: 8px 8px rgb(0, 0, 0);
    margin-bottom: -1%;
    /*width: 50%;
    float: left;*/
    /*margin-left: 10%;
    margin-right: -5%;
    margin-top: 5%;*/
}
#image{
    margin-top: 4%;
    margin-right: 15%;
    float: right;
}
.info{
    color: white;
    font-size: 2.5vw;
}
.begining{
    margin-bottom: 3%;
}
.link-element{
    display: inline;
}
.buttons:hover{
    transform: translate(0px, -10px);
    border-bottom: 10px solid transparent;
    margin-bottom: -10px;
}
.buttons{
    transition: transform .1s;
    border: none;
    width: 4%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}
#test{
    color: white;
}

.projectbounds{
    margin-left: 5%;
    width: 90%;
}
.head{
    color: #32CD32;
    font-size: 7vw;
    text-shadow: 6px 6px rgb(0, 0, 0);
}
.project{
    width: 17%;
    float: left;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 10%;
    box-shadow: 0px 0px 2px 3px #404040;
}
.projectimg{
    width: 90%;
    height: auto;
    margin-top: 5%;
    margin-left: 5%;
}
.aligner{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.imgbounds{
    height: 15vw;
}
.projectname{
    color: white;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 0%;
}
.language{
    color: beige;
    margin-left: 5%;
}
.desc{
    color: white;
    font-size: 1.1vw;
    margin-left: 5%;
    margin-right: 5%;
}
.textbounds{
    height: 30vh;
}
.code{
    margin-left: 5%;
    margin-bottom: 5%;
    background: #32CD32;
    border: 0px;
    width: 40%;
    font-size: 1.5vw;
    height: 5vh;
    border-radius: 8px;
}
.code:hover{
    box-shadow: inset 0px 0px 2px 2px rgb(23, 92, 23);
}
footer{
    background-color: rgb(34, 34, 34);
    font-size: 200%;
    color: rgb(9, 61, 21);
}